# deps
/node_modules/
/.pnp
.pnp.js

# tests
/coverage/

# build
/build/

# IDEs & OS
.idea/
.vscode/
.DS_Store

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env (toutes variantes locales)
.env
.env.local
.env.*.local

# vercel (config locale)
.vercel/
